h1, h2, h3, h4, h5, h6, p {
    font-family: 'Arial', serif;
    font-weight: 500;
}
body {
    margin: 0 auto;
}

div {
    background-color: #007765;
    background-size: cover;
    font-size: 24px;
    color: #FFFFFF;
    position: relative;
    padding: 3px 3px;
}

.sh p {
    margin-left: 60%;
}
div img {
    position: absolute;
    right: 76%;
    left: 10%;
    top:20px;
    bottom:19px;
}

.im {
    width: 100%;
}

.hp {
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 72px;
    color:#FFFFFF;

}

