h1, h2, h3, h4, h5, h6, p {
    font-family: 'Arial', serif;
}
body {
    margin: 0 auto;
}

div {
    background-color: #007765;
    background-size: cover;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    position: relative;
    padding: 3px 3px;
}

.sh p {
    margin-left: 60%;
}
div img {
    position: absolute;
    right: 76%;
    left: 7%;
    top:7%;
    bottom:7%;
}

